body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
  }
  
  header, footer {
    text-align: center;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
  }

  main {
    background-color: #1F0802;
    padding: 20px;
    border-radius: 10px;
  }

  footer {
    margin-top: 50px;
    color: #ffffff;
    font-size: 14px;
  }
  
  /* Estilos adicionales para lograr un aspecto retro-espacial */
  
  body {
    background-image: url('../img/space-backgroud.jpg');
    background-repeat: no-repeat;
    background-size: 100;
    background-position: center;
  }
  
  .producto {
    background-color: #38184C;
    border: solid 1px #CEF09D;
  }
  
  .imgproducto {
    margin-right: 10px;
    margin-left: 10px;
    float: left;
  }
  
  .preciounitario {
    margin-left: 10px;
    font-size: larger;
    font-weight: bold;
    color: #A0CD60;
  }

  .main {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  .cestaImgItem {
    width: 50px;
    height: 50px;
    filter: invert(1);
  }

  .imgproducto {
    filter: invert(1);
  }

  .producto {
    box-shadow: 0px 0px 5px rgb(198, 135, 239);
    flex: 0 0 calc(25% - 10px); /* Establece el ancho del bloque */
    border: solid 1px #BF3B3B;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px; /* Agrega un margen inferior para separar los bloques */
    box-sizing: border-box; /* Incluye el borde y el relleno en el ancho total */
  }
  
  #cestaItem {
    display: inline-block;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-top: 20px;
    
  }
  
  #preciototal {
    font-size: 20px;
    color: white;
    font-weight: bold;
  }

  #itemgrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }
  