
body{
    width: 600;
    background-color: #D9C8B4;
    color: #7775BF;
    margin: 15px 15px 15px 15px;
    font-family: 'Courier New', Courier, monospace;
}

header, footer{
    text-align: center;
    align-items: center;
    font-size: 18px;
    margin: 30px 15px 10px 15px;
}

footer{
    margin-top: 300px;
}

main{
    color: #261E10;
    height: 200px;
    padding-top: 20px;
    padding-bottom: 50px;
    margin: 20px 15px 20px 15px;
    justify-content: center;
    align-items: center;
}

.producto{
    width: 50;
    align-items: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px #BF3B3B;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.imgproducto{
   margin-right: 10px;
   margin-left: 10px;
   float: left;
}

.preciounitario{
    margin-left: 10px;
    font-size: larger;
    font-weight:bold;
}

#itemgrid{
    display:grid;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 30px;
}
